@charset "UTF-8";
@font-face {
  font-family: "Mono Social Icons Font";
  src: url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.eot");
  src: url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.eot?#iefix") format('eot'), url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.woff") format('woff'), url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.ttf") format('truetype'), url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 10, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/* line 16, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.HolyGrail-body {
  display: flex;
  flex: 1; }

/* line 22, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column; }

/* line 27, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.HolyGrail-nav {
  order: -1; 
}

.sidebar {
     position: fixed;
     width: 200px;
     height: 400px;
     background: #000;
 }

/* line 31, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
footer {
  display: flex;
  justify-content: flex-end; }

@media (min-width: 768px) {
  /* line 37, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .HolyGrail-body {
    flex-direction: row;
    flex: 1; }

  /* line 41, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .HolyGrail-content {
    flex: 1;
    max-width: 50em; }

  /* line 45, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em; } }
/* line 52, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
body {
  font-size: 100%;
  line-height: 1.5em; }

/* line 57, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
body {
  font-family: 'Raleway', sans-serif;
  padding: 1em; }

/* line 62, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
pre.lineno {
  margin: 0px; }

/* line 66, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: normal; }

/* line 83, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.2em; }

/* line 85, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
ul {
  list-style-type: none; }

/* line 87, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
footer ul li {
  text-align: right; }

/* line 91, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
#main {
  margin: 1em; }

/* line 95, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.signature {
  height: auto;
  width: 10em; }
  /* line 98, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .signature object svg {
    margin: 0 auto;
    height: 100%;
    width: 100%; }
    /* line 103, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
    .signature object svg * {
      stroke: black; }

/*header{
  background-color: lightblue;
}
aside{
  background-color: yellow;
}
footer{
  background-color: lightgreen;
}*/
/*@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; }

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}*/
