@charset "UTF-8";
@font-face {
  font-family: "Mono Social Icons Font";
  src: url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.eot");
  src: url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.eot?#iefix") format('eot'), url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.woff") format('woff'), url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.ttf") format('truetype'), url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 10, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
body {
  background-color: darkgray;
  padding: 1em; }

/* line 15, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
pre.lineno {
  margin: 0px; }

/* line 19, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/*header{
  background-color: lightblue;
}
aside{
  background-color: yellow;
}
footer{
  background-color: lightgreen;
}*/
/*@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; }

h1 {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  background: url("../images/middleman.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: rgba(0, 0, 0, 0.3); }
    .doc a:hover {
      color: #666; }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}*/
