@font-face {
  font-family: "Mono Social Icons Font";
  src: url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.eot");
  src: url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.eot?#iefix") format('eot'), url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.woff") format('woff'), url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.ttf") format('truetype'), url("/assets/fonts/MonoSocialFont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 15, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/* line 21, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.HolyGrail-body {
  display: flex;
  flex: 1; }

/* line 27, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column; }

/* line 32, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.HolyGrail-nav {
  order: -1;
  padding: 1em; }

/* line 37, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.sidebar .hgroup {
  position: auto;
  text-align: center;
  width: 100%;
  height: auto; }
  /* line 43, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .sidebar .hgroup .socials a {
    padding: 0.1em; }
  /* line 47, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .sidebar .hgroup img {
    display: block;
    margin: auto;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px; }

/* line 61, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
aside.HolyGrail-ads {
  display: flex;
  text-align: center; }
  /* line 65, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  aside.HolyGrail-ads div ul, aside.HolyGrail-ads div .signature {
    padding: 1em; }
  /* line 67, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  aside.HolyGrail-ads .footer-asider {
    align-self: flex-end; }

@media (min-width: 1000px) {
  /* line 71, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  #main {
    margin: 3em; }

  /* line 74, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .sidebar .hgroup {
    position: fixed;
    width: 200px; }

  /* line 79, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .HolyGrail-body {
    flex-direction: row;
    flex: 1; }

  /* line 83, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .HolyGrail-content {
    flex: 1; }

  /* line 87, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em; } }
/* line 95, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
#main {
  position: relative; }

/* line 97, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
p, li, h1, h2, h3, h4, h5, h6 {
  margin: 0.5em; }

/* line 99, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
p, li {
  max-width: 35em; }

/* line 101, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
p {
  line-height: 1.5em; }

/* line 103, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
pre.lineno {
  margin: 0px; }

/* line 105, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
img {
  width: 100%;
  height: auto; }

/* line 107, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
pre.codehilite {
  white-space: pre; }

/* line 113, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.titled-code-block {
  padding: 1em;
  background-color: lightgray; }

/* line 117, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
a {
  text-decoration: none; }

/* line 119, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.HolyGrail-nav, .HolyGrail-ads {
  background: darkgray; }

/* line 121, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
body {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
  margin-left: 1em;
  margin-right: 1em; }

/* line 128, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
pre {
  white-space: pre;
  overflow: scroll;
  width: inherit;
  word-wrap: normal; }

/* line 133, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  width: 10em;
  height: auto; }

/* line 147, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
.signature {
  height: auto;
  width: 10em; }
  /* line 150, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
  .signature object svg {
    margin: 0 auto;
    height: 100%;
    width: 100%; }
    /* line 155, /Users/r625503/Programming/adamwong246.github.io/source/assets/css/all.css.scss */
    .signature object svg * {
      stroke: black; }
