/**
 * https://raw.githubusercontent.com/philipwalton/solved-by-flexbox/master/assets/css/components/holy-grail.css
 */

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html {
    font-weight: 300;
  }
}

.Header {
  padding: 1.5em;
  background-color: rgba(147, 128, 108, 0.1);
  text-align: center;
}
@media (min-width: 768px) {
  .Header {
    padding: 3em 1.5em;
  }
}

.Header-title {
  margin: 0 0 0.15em;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1;
  word-spacing: 0.08em;
}
.Header-title i {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
}
.Header-title a {
  border: 0;
  color: inherit;
  font-weight: inherit;
}
.Header-title a:focus, .Header-title a:hover, .Header-title a:active {
  text-decoration: none;
}
@media (min-width: 768px) {
  .Header-title {
    font-size: 4em;
  }
}

.Header-subTitle {
  margin: 0 0 1.5em;
  font-size: 0.8em;
  font-weight: 300;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .Header-subTitle {
    margin: 1em 0 1.75em;
    font-size: 1.1em;
  }
}

.Header-actions {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-size: 0.9em;
}
@media (min-width: 384px) {
  .Header-actions {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .Header-actions {
    font-size: 1.1em;
  }
}

.Header-button:first-child {
  margin: 0 0 1em;
}
@media (min-width: 384px) {
  .Header-button:first-child {
    margin: 0 1em 0 0;
  }
}

@media (min-width: 768px) {
  .Header--cozy {
    display: flex;
    padding: 1.5em;
    align-items: center;
  }
  .Header--cozy .Header-titles {
    display: flex;
    align-items: baseline;
  }
  .Header--cozy .Header-title {
    font-size: 1.5em;
  }
  .Header--cozy .Header-subTitle {
    margin: 0 0 0 1em;
    font-size: 0.8em;
    font-weight: 300;
    color: gray;
  }
  .Header--cozy .Header-actions {
    flex: 1;
    justify-content: flex-end;
    font-size: 0.9em;
  }
}



HolyGrail {
  display: flex;
  height: 100%; /* 1, 3 */
  flex-direction: column;
}

.HolyGrail-header,
.HolyGrail-footer {
  flex: none; /* 2 */
}

.HolyGrail-body {
  display: flex;
  flex: 1 0 auto; /* 2 */
  flex-direction: column;
  padding: 1.5em;
}

.HolyGrail-content {
  margin-top: 1.5em;
}

.HolyGrail-nav {
  order: -1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  padding: 1em;
  border-radius: 3px;
  background: rgba(147, 128, 108, 0.1);
}

.HolyGrail-ads{
  align-self: flex-end;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
  }
  .HolyGrail-content {
    flex: 1;
    padding: 0 2em;
    margin: 0;
  }
}

/*http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/*/
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
