doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href='/style.css', rel='stylesheet', type="text/css")
    block page_title
      title exact change only
  body
    nav
      a(href="/")
        h1 exact change only
      ul.contact
        li
          a(href="mailto:adamwong246@gmail.com") adamwong246@gmail.com
      ul.pages
        li
          a(href="/resume.html") resume.html
      ul.blog_entries
        - for entry in blog_entries
          li
            a(href=entry.url)= entry.meta.title

    block content
      != self.content

    footer
      a(href="http://adamwong246.github.io/") home
      br
      a(href="https://github.com/adamwong246/adamwong246.github.io") source
      br
      span adam wong 2015
