extends layout.jade

block page_title
  title resume

block content
  a(href="/resume.pdf") resume.pdf
  br
  a(href="https://raw.githubusercontent.com/adamwong246/adamwong246.github.io/master/_src/resume.md") resume.md
  != page.content
