img {max-width:100%;}

p, li, ol {max-width:35rem;}

nav ul {
  -webkit-padding-start: 0px;
  list-style: none;
}

nav .site_title{
  text-align: center;
  margin-top: 0em;
}

h2{
  margin-bottom: 0.2em;
}

p, li {
  font-family: 'Lato';
}
